section.cover
  .cover__container
    h1 Коллекционные издания
    p Побеждайте легко, побеждайте стильно с&nbsp;новыми коллекционными изданиями &laquo;Аллодов Онлайн&raquo;!
  img.cover__elements(src="../img/cover/elements.webp" alt="")
  img.cover__bg(src="../img/cover/bg.webp" alt="")
