section.product
  .product__container
    .product__col
      img.product__img(src="img/product/vito.webp" alt="")
    .product__col
      h2 НАБОР &laquo;ПОСЫЛКА С&nbsp;КОНТРАБАНДОЙ&raquo;
      .product__btns
        a.button.button--red(href="#") Бесплатные сервера
        a.button.button--red(href="#") Подписочный сервер
      table.product__table
        tbody
          tr
            td
              img.product__img.product__img--small(src="img/product/1.webp" alt="")
            td
              p Игровое время
            td
              p -
            td
              p 30 дней
          tr
            td
              img.product__img.product__img--small(src="img/product/2.webp" alt="")
            td
              p Запечатанный набор инструментов
            td
              p 1
            td
              p 1
          tr
            td
              img.product__img.product__img--small(src="img/product/3.webp" alt="")
            td
              p Хрупкая чистая руна 10-й ступени
            td
              p 1
            td
              p -
          tr
            td
              img.product__img.product__img--small(src="img/product/4.webp" alt="")
            td
              p Большой символ изобилия творца
            td
              p 10
            td
              p -
          tr
            td
              img.product__img.product__img--small(src="img/product/5.webp" alt="")
            td
              p Мана-батарея
            td
              p -
            td
              p 20
          tr
            td
              img.product__img.product__img--small(src="img/product/6.webp" alt="")
            td
              p Модуль памяти
            td
              p -
            td
              p 10
          tr
            td
              img.product__img.product__img--small(src="img/product/7.webp" alt="")
            td
              p Помощник Вито
            td
              p 1
            td
              p 1
      .product__card
        .product__card-col
          img(src="img/product/box.webp" alt="")
        .product__card-col
          p 399&nbsp;&#8381;
          a.button.button--yellow(href="#") Приобрести
